<div ng-cloak>

    <div class="row">
        <div class="col-sm-3">
            <p>Time Range</p>
            <div class="btn-group">
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'morning'">Morning</label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'afternoon'">Afternoon</label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'evening'">Evening</label>
                <label class="btn btn-primary btn-sm" ng-model="radioModel" uib-btn-radio="'day'">Day</label>
            </div>
        </div>
        <div class="col-sm-9">
            <!-- <p>Map</p> -->
            <leaflet lf-center="center" defaults="defaults" layers="layers" maxBounds="maxBounds" height="480px" width="100%"></leaflet>
        </div>
    </div>
</div>


<div class="row">
