<div>


    <div class="row">
        <div class="col-md-3">



            <p>Filter</p>
            <div class="btn-group">
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'morning'">Morning</label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'afternoon'">Afternoon</label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'evening'">Evening</label>
                <label class="btn btn-primary btn-sm" ng-model="radioModel" uib-btn-radio="'day'">Day</label>
            </div>

            <div style="margin-top: 12px">
                <!-- <h4>Formatting codes playground</h4> -->
                <!-- <p>Date Range</p> -->
                <form class="form-inline">
                    <label class="sr-only" for="mindu">StartDate</label>
                    <input style="width: 102px" type="text" class="form-control input-sm mb-2 mr-sm-2 mb-sm-0" id="mindu" placeholder="Start Date">

                    <label class="sr-only" for="maxdu">Username</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                        <input style="width: 101px" type="text" class="form-control input-sm" id="maxdu" placeholder="End Date">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-filter"></span></button>


                </form>
            </div>

            <div style="margin-top: 12px">
                <!-- <h4>Formatting codes playground</h4> -->
                <!-- <p>Date Range</p> -->
                <form class="form-inline">
                    <label class="sr-only" for="inlineFormInput">StartDate</label>
                    <input style="width: 101px" type="text" class="form-control input-sm mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Min duration">

                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                        <input style="width: 102px" type="text" class="form-control input-sm" id="inlineFormInputGroup" placeholder="Max duration">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-filter"></span></button>


                </form>
            </div>

            <div style="margin-top:35px">
                <p>Visits</p>
                <!-- <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
            </form> -->




                <!-- <jhi-alert></jhi-alert> -->
                <!-- <div class="container-fluid">
</div>
<br/> -->




                <!-- <div class="row">
  <div class="col-xs-4 no-padding-left">
    <button class="btn btn-primary" ui-sref="store-detail.visit.new" >
      <span class="glyphicon glyphicon-plus"></span>
      <span >
        Create new Visit
      </span>
    </button>
  </div>
</div> -->



                <div class="list-grp">
                    <div class="list-elem" ng-repeat="visit in vm.visits track by visit.id">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" ng-model="vm.activePaths.ids[visit.id]" ng-click="vm.refreshMap()">
                            </div>
                            <div class="col-md-10">
                                <strong>{{visit.dateOfVisit | date:'EEE'}}</strong>
                                <span>{{visit.dateOfVisit | date:'mediumDate'}}</span> <code>{{visit.dateOfVisit | date:'shortTime'}}</code><br>
                                <small><span class="glyphicon glyphicon-hourglass"></span> {{visit.duration}}</small>
                            </div>
                        </div>
                    </div>
                    <!-- <pre ng-bind="vm.activePaths.ids | json"></pre> -->
                </div>


            </div>



            <!-- <div class="table-responsive">
<table class="jh-table table table-striped">
<thead>
<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
<th jh-sort-by="dateOfVisit"><span>Date Of Visit</span> <span class="glyphicon glyphicon-sort"></span></th>
<th jh-sort-by="store.name"><span>Store</span> <span class="glyphicon glyphicon-sort"></span></th>
<th jh-sort-by="visitor.id"><span>Visitor</span> <span class="glyphicon glyphicon-sort"></span></th>
<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="visit in vm.visits track by visit.id">
<td><a ui-sref="visit-detail({id:visit.id})">{{visit.id}}</a></td>
<td>{{visit.dateOfVisit | date:'medium'}}</td>
<td>
<a ui-sref="store-detail({id:visit.store.id})">{{visit.store.name}}</a>
</td>
<td>
<a ui-sref="visitor-detail({id:visit.visitor.id})">{{visit.visitor.id}}</a>
</td>
<td class="text-right">
<div class="btn-group flex-btn-group-container">
<button type="submit" ui-sref="visit-detail({id:visit.id})" class="btn btn-info btn-sm">
<span class="glyphicon glyphicon-eye-open"></span>
<span class="hidden-xs hidden-sm"></span>
</button>
<button type="submit" ui-sref="visit.edit({id:visit.id})" class="btn btn-primary btn-sm">
<span class="glyphicon glyphicon-pencil"></span>
<span class="hidden-xs hidden-sm"></span>
</button>
<button type="submit" ui-sref="visit.delete({id:visit.id})" class="btn btn-danger btn-sm">
<span class="glyphicon glyphicon-remove-circle"></span>
<span class="hidden-xs hidden-sm"></span>
</button>
</div>
</td>
</tr>
</tbody>
</table>
</div> -->



            <!--
            <div class="text-center">
                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            </div>
            <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>

 -->




        </div>
        <div class="col-sm-9">
            <!-- <p>Path</p> -->
            <leaflet lf-center="center" paths="paths" defaults="defaults" layers="layers" markers="markers" maxBounds="maxBounds" height="480px" width="100%"></leaflet>
            <!-- <leaflet lf-center="map.malmo" defaults="map.defaults" layers="map.layers" width="100%" height="400px"></leaflet> -->
            <!-- <leaflet lf-center="center" markers="unitsFiltered" defaults="defaults"></leaflet> -->
            <!-- <leaflet defaults="defaults" lf-center="center" width="100%" height="480px"></leaflet> -->
        </div>
    </div>


</div>
