
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStoreMapLabel">Create or edit a Store Map</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.storeMap.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.storeMap.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_validityStart">Validity Start</label>
                <div class="input-group">
                    <input id="field_validityStart" type="text" class="form-control" name="validityStart" datetime-picker="{{dateformat}}" ng-model="vm.storeMap.validityStart" is-open="vm.datePickerOpenStatus.validityStart"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validityStart')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.validityStart.$invalid">
                <p class="help-block"
                    ng-show="editForm.validityStart.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.validityStart.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_validityEnd">Validity End</label>
                <div class="input-group">
                    <input id="field_validityEnd" type="text" class="form-control" name="validityEnd" datetime-picker="{{dateformat}}" ng-model="vm.storeMap.validityEnd" is-open="vm.datePickerOpenStatus.validityEnd"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validityEnd')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.validityEnd.$invalid">
                <p class="help-block"
                    ng-show="editForm.validityEnd.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.validityEnd.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.storeMap.url"
                    required />
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_wallMap">Wall Map</label>
                <textarea class="form-control" name="wallMap" id="field_wallMap"
                    ng-model="vm.storeMap.wallMap" required ></textarea>
            <div ng-show="editForm.wallMap.$invalid">
                <p class="help-block"
                    ng-show="editForm.wallMap.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pathMap">Path Map</label>
                <textarea class="form-control" name="pathMap" id="field_pathMap"
                    ng-model="vm.storeMap.pathMap" required ></textarea>
            <div ng-show="editForm.pathMap.$invalid">
                <p class="help-block"
                    ng-show="editForm.pathMap.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dimensionX">Dimension X</label>
            <input type="number" class="form-control" name="dimensionX" id="field_dimensionX"
                    ng-model="vm.storeMap.dimensionX"
                    required />
            <div ng-show="editForm.dimensionX.$invalid">
                <p class="help-block"
                    ng-show="editForm.dimensionX.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dimensionX.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dimensionY">Dimension Y</label>
            <input type="number" class="form-control" name="dimensionY" id="field_dimensionY"
                    ng-model="vm.storeMap.dimensionY"
                    required />
            <div ng-show="editForm.dimensionY.$invalid">
                <p class="help-block"
                    ng-show="editForm.dimensionY.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dimensionY.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_scale">Scale</label>
            <input type="number" class="form-control" name="scale" id="field_scale"
                    ng-model="vm.storeMap.scale"
                    required />
            <div ng-show="editForm.scale.$invalid">
                <p class="help-block"
                    ng-show="editForm.scale.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.scale.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_store">Store</label>
            <select class="form-control" id="field_store" name="store" ng-model="vm.storeMap.store" ng-options="store as store.name for store in vm.stores track by store.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.store.$invalid">
            <p class="help-block"
                ng-show="editForm.store.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
